<div class="friends-list">
    <div class="friends-header">
        <h3>친구 목록</h3>
        <button class="add-friend-btn">친구 추가</button>
    </div>
    <div class="friends-search">
        <input type="text" placeholder="친구 검색..." class="friends-search-input">
    </div>
    <ul class="friends-items">
        <li class="friend-item online">
            <div class="friend-avatar"></div>
            <div class="friend-info">
                <span class="friend-name">친구1</span>
                <span class="friend-status">온라인</span>
            </div>
        </li>
        <li class="friend-item game">
            <div class="friend-avatar"></div>
            <div class="friend-info">
                <span class="friend-name">친구2</span>
                <span class="friend-status">게임 중</span>
            </div>
        </li>
        <li class="friend-item offline">
            <div class="friend-avatar"></div>
            <div class="friend-info">
                <span class="friend-name">친구3</span>
                <span class="friend-status">오프라인</span>
            </div>
        </li>
    </ul>
</div>
